doctype html 
html
    head 
        title Nisar Dance Academy 
        block scripts 
        block style 
    body 
        nav#navbar 
            ul 
                div#logo 
                    img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Ballerina_logo.png/501px-Ballerina_logo.png", alt="error")
                    | NDA
                li #[a(href="/") Home]
                li #[a(href="/") About ]
                li #[a(href="/") Services ]
                li #[a(href="/") Class Info ]
                li #[a(href="contact") Contact Us ]
                
        block content 
        footer#footer
            | Copyright 2023 Harrydanceacademy.com | All rights reserved